html {
  background-color: rgb(44, 46, 73);
  color: white;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
}

h2 {
  grid-row: 2;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
}

.enemy-heading {
  grid-column: 2;
}

.friendly-heading {
  grid-column: 1;
}

.tray-info {
  grid-column: 2;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  padding-left: 0;
}

.tray-info li {
  list-style: none;
}