main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
}

h2 {
  grid-row: 1;
}

.enemy-heading {
  grid-column: 2;
}

.friendly-heading {
  grid-column: 1;
}