.battleship {
  width: fit-content;
  cursor: move;
  z-index: 1;
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.patrol {
  grid-column: 1 / span 2 !important;
  grid-row: 1 / 2 !important;
  justify-self: center;
  align-self: center;
}

.destroyer {
  grid-column: 3 / span 3 !important;
  grid-row: 1 / 2 !important;
  justify-self: center;
  align-self: center;
}

.submarine {
  grid-column: 6 / span 3 !important;
  grid-row: 1 / 2 !important;
  justify-self: center;
  align-self: center;
}

.battler {
  grid-column: 1 / span 4 !important;
  grid-row: 2 / 4 !important;
  justify-self: center;
}

.carrier {
  grid-column: 4 / span 5 !important;
  grid-row: 2 / 4 !important;
  justify-self: center;
  align-self: center;
}

.dragging {
  z-index: -1;
}