.grid {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row: 2;
}

.friendly {
  grid-column: 1;
}

.enemy {
  grid-column: 2;
}