.grid {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row: 2;
}

.friendly {
  background-color: rgb(235, 242, 255);
  grid-column: 1;
}

.enemy {
  background-color: rgb(255, 234, 234);
  grid-column: 2;
}