.random {
  grid-column: 1 / span 2;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  background-color: #4B5096;
  color: white;
  border: 2px solid white;
  border: none;
  box-shadow: 0px 0px 20px 0px  black;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
}

.random:hover {
  background-color: rgba(75, 80, 150, 0.8);
}

@media (max-width: 768px) {
  .random {
    margin-top: 10px;
  }
}