.ship-tray {
  width: 500px;
  height: 500px;
  grid-column: 2;
  grid-row: 3;
  border: 1px solid rgb(255,255,255,1);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 3fr 2fr 2fr;
  box-sizing: border-box;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}