.start {
  font-size: 8vw;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  background-color: #e91212;
  color: white;
  border: 5px groove #c01111;
  box-shadow: 3px 3px #c01010;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.start:hover {
  background-color: rgba(233, 18, 18, 0.95);
}

@media (min-width: 1366px) {
  .start {
    border: 7px groove #c01111;
    box-shadow: 3px 3px #c01010;
  }
}